{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html> 
<html>
    <head>
        <title>
            Event Manager
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <!-- CSS only -->
        <link rel="stylesheet" href="{% static 'style.css' %}" rel="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
        <!-- Google Fonts-->
    </head>
    <body>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
            <div class="container"><a class="navbar-brand logo" href="#">Brand</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="features.html">Features</a></li>
                        <li class="nav-item"><a class="nav-link" href="pricing.html">Pricing</a></li>
                        <li class="nav-item"><a class="nav-link" href="about-us.html">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br><br><br><br><br>
    </div>
    <section class="fdb-block team-2">
  <div class="container">
    <div class="row text-center justify-content-center">
      <div class="col-8">
        <h1>Meet Our Team</h1>
      </div>
    </div>

    <div class="row-50"></div>
    <div class="row text-center justify-content-center">
      {% for team in teams %}
      <div class="col-sm-3 m-sm-auto">
        <img alt="image" class="img-fluid rounded-circle" src="{{team.img.url}}" alt="">
        <h2>{{team.name}}</h2>
        <p>{{team.desc}}</p>
        {% if team.id == 1 %}
        <p>{{team.id}}</p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</section>
        
          <br><br><br><br><br>
          <footer class="footer top footer-large">
            <br><br>
            <div class="container">
              <div class="row align-items-top text-center">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-sm-left">
                  <h3><strong>Group 1</strong></h3>
                  <nav class="nav flex-column">
                    <a class="nav-link active" href="https://www.froala.com">Home</a>
                    <a class="nav-link" href="https://www.froala.com">Features</a>
                    <a class="nav-link" href="https://www.froala.com">Pricing</a>
                    <a class="nav-link" href="https://www.froala.com">Team</a>
                    <a class="nav-link" href="https://www.froala.com">Contact Us</a>
                  </nav>
                </div>
          
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5 mt-sm-0 text-sm-left">
                  <h3><strong>Group 2</strong></h3>
                  <nav class="nav flex-column">
                    <a class="nav-link active" href="https://www.froala.com">Privacy Policy</a>
                    <a class="nav-link" href="https://www.froala.com">Terms</a>
                    <a class="nav-link" href="https://www.froala.com">FAQ</a>
                    <a class="nav-link" href="https://www.froala.com">Support</a>
                  </nav>
                </div>
          
                <div class="col-12 col-md-4 col-lg-3 text-md-left mt-5 mt-md-0">
                  <h3><strong>About Us</strong></h3>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
          
                <div class="col-12 col-lg-2 ml-auto text-lg-left mt-4 mt-lg-0">
                  <h3><strong>Follow Us</strong></h3>
                  <p class="lead">
                    <a href="https://www.froala.com" class="mx-2"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://www.froala.com" class="mx-2"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                    <a href="https://www.froala.com" class="mx-2"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    <a href="https://www.froala.com" class="mx-2"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                    <a href="https://www.froala.com" class="mx-2"><i class="fab fa-google" aria-hidden="true"></i></a>
                  </p>
                </div>
              </div>
          
              
          
          
         




    </body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
    </style>
        
</html>